name: ci

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '.github/**'
      - '*.md'
      - '.*'
      - '.LICENSE'
      - 'examples'
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    steps:
      - uses: actions/checkout@v4
      - name: install go
        uses: actions/setup-go@v5
        with:
          go-version: '1.20'
      - name: build and test
        run: make

      # - name: enable experimental docker features
      #   if: ${{ github.ref == 'refs/heads/master' }}
      #   run: |
      #     echo '{"experimental":true}' | sudo tee /etc/docker/daemon.json
      #     sudo service docker restart
      # - name: publish multi-arch docker image
      #   if: ${{ github.ref == 'refs/heads/master' }}
      #   run: make docker-pushx
